.current-program{
  text-align: center;
  align-items: center;
}

.current-container img{
  border-radius: 20px;
}

.current-program{
  border-top: 1px solid #D3E2E5;
  padding: 24px 0;

}

.current-program span{
  width: 100%;

  font-size: 28px;
  line-height: 34px;
  color: #5C8599;
  font-weight: 700;

}
